@model NotificateDetailsOrgApplicantViewModel
@{
    ViewData["Title"] = "تفاصيل المتقدم";
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h2 class="card-label" data-aos="fade-left">
                <span class="d-block pt-5 font-size-h2-lg">تفاصيل المتقدم</span>
            </h2>
        </div>
    </div>
    <hr />
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped"
                   style=" border: 5px solid #788da3; text-align: center; background: #1f518fad;">
                <thead style="background: #a94442; color: #eee038f2; font-size: 27px;">
                    <tr>
                        <td>العنوان</td>
                        <td>التفاصيل</td>
                    </tr>
                </thead>

                <tbody>
                    <tr data-aos="fade-left">
                        <td>اسم المتقدم</td>
                        <td>@Model.User.FullName</td>
                    </tr>
                    <tr data-aos="fade-left">
                        <td>وقت التقدم</td>
                        <td>@Model.CreateAt.ToString("yyyy-MM-dd")</td>
                    </tr>
                    <tr data-aos="fade-left">
                        <td>تقييم التقدم</td>
                        <td>@Model.StatusType</td>
                    </tr>
                    <tr data-aos="fade-left">
                        <td>اسم الوظيفة</td>
                        <td>@Model.HiringOrder.Title</td>
                    </tr>
                    <tr data-aos="fade-left">
                        <td>الراتب</td>
                        <td>@Model.HiringOrder.Salary</td>
                    </tr>
                    <tr data-aos="fade-left">
                        <td>بريد المتقدم</td>
                        <td>@Model.User.Email</td>
                    </tr>
                    <tr data-aos="fade-left">
                        <td>جوال المتقدم</td>
                        <td>@Model.User.PhoneNumber</td>
                    </tr>
                    <tr data-aos="fade-left">
                        <td>السيرة الذاتية</td>
                        <td><a target="_blank" href="~/AllFiles/@Model.User.Cv" style="color:black;">إضغط لعرض CV</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group col-md-12" data-aos="fade-left">
            @if (Model.StatusType == StatusHiringOrderEnum.Pending)
            {

                <a class="btn btn-primary" href="~/HiringOrder/EvaluationApplicants?UserId=@Model.User.Id
            &HiringOrdId=@Model.HiringOrder.Id
            &status=@StatusHiringOrderEnum.Approved">
                    قبول
                </a>


                <a class="btn btn-primary" href="~/HiringOrder/EvaluationApplicants?UserId=@Model.User.Id
            &HiringOrdId=@Model.HiringOrder.Id
            &status=@StatusHiringOrderEnum.Rejected">
                    رفض
                </a>

            }
            else if (Model.StatusType == StatusHiringOrderEnum.Approved)
            {
                <a class="btn btn-primary" href="~/HiringOrder/EvaluationApplicants?UserId=@Model.User.Id
            &HiringOrdId=@Model.HiringOrder.Id
            &status=@StatusHiringOrderEnum.Rejected">
                    رفض
                </a>
            }
            else if (Model.StatusType == StatusHiringOrderEnum.Rejected)
            {
                <a class="btn btn-primary" href="~/HiringOrder/EvaluationApplicants?UserId=@Model.User.Id
            &HiringOrdId=@Model.HiringOrder.Id
            &status=@StatusHiringOrderEnum.Approved">
                    قبول
                </a>
            }

            <div><a asp-action="Index" asp-controller="HiringOrder" class="btn btn-primary mt-2">الرجوع للوظائف</a></div>
        </div>
    </div>
</div>