@model List<DisplayGroup>
@{
    ViewData["Title"] = "DisplayEvalOrdToOrg";
    //int x = 0;
    string NameView = string.Empty;
    if ((int)TempData["TypeView"] == 1) { NameView = "DisplayEvalOrdToOrg"; }
    else { NameView = "DisplayNotEvalOrdToOrg"; }
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title" data-aos="fade-left">
            <h4 class="card-label">
                <span class="d-block pt-5 font-size-h2-lg">@TempData["TitleView"]</span>
            </h4>
        </div>
    </div>
    <hr />
    <div class="card-body">
        @if (Model.Any())
        {
            @foreach (var MainGrp in Model)
            {
                <h2 class="d-block pt-5 font-size-h2-lg text-center" style="font-weight:bold;" data-aos="fade-left">وظيفة/ @MainGrp.Title</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped text-center mt-3">
                        <thead>
                            <tr class="bg-primary text-white">
                                <td>إسم المتقدم</td>
                                <td>البريد الإلكتروني</td>
                                <td>رقم الجوال</td>
                                <td>وقت التقدم</td>
                                <td>التقييم</td>
                                <td>السيرة الذاتية</td>
                                <td>العمليات</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Order in MainGrp.AllHiringOrders)
                            {

                                <tr data-aos="fade-down">
                                    <td class="tab_col_padding">@Order.User.FullName</td>
                                    <td class="tab_col_padding">@Order.User.Email</td>
                                    <td class="tab_col_padding">@Order.User.PhoneNumber</td>
                                    <td class="tab_col_padding">@Order.CreateAt.ToString("yyyy-MM-dd")</td>
                                    <td class="tab_col_padding">@Order.StatusType</td>
                                    <td class="tab_col_padding">
                                        <a target="_blank" href="~/AllFiles/@Order.User.Cv">إضغط لعرض CV</a>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="MenuProcess" data-bs-toggle="dropdown" aria-expanded="false">
                                                عرض العمليات
                                            </button>
                                            <ul class="dropdown-menu DropdownMenuTable" aria-labelledby="MenuProcess">
                                                @if (Order.StatusType == StatusHiringOrderEnum.Pending)
                                                {
                                                    <li>
                                                        <a href="~/HiringOrder/EvaluationApplicants?UserId=@Order.UserId
                                                                                &HiringOrdId=@Order.HiringOrderId
                                                                                &status=@StatusHiringOrderEnum.Approved
                                                                                &ViewName=@NameView">
                                                            قبول
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="~/HiringOrder/EvaluationApplicants?UserId=@Order.UserId
                                                                                &HiringOrdId=@Order.HiringOrderId
                                                                                &status=@StatusHiringOrderEnum.Rejected
                                                                                &ViewName=@NameView">
                                                            رفض
                                                        </a>
                                                    </li>
                                                }
                                                else if (Order.StatusType == StatusHiringOrderEnum.Approved)
                                                {
                                                    <li>
                                                        <a href="~/HiringOrder/EvaluationApplicants?UserId=@Order.UserId
                                                                                &HiringOrdId=@Order.HiringOrderId
                                                                                &status=@StatusHiringOrderEnum.Rejected
                                                                                &ViewName=@NameView">
                                                            رفض
                                                        </a>
                                                    </li>
                                                }
                                                else if (Order.StatusType == StatusHiringOrderEnum.Rejected)
                                                {
                                                    <li>
                                                        <a href="~/HiringOrder/EvaluationApplicants?UserId=@Order.UserId
                                                                                &HiringOrdId=@Order.HiringOrderId
                                                                                &status=@StatusHiringOrderEnum.Approved
                                                                                &ViewName=@NameView">
                                                            قبول
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        }
        else
        {
            <div class="alert alert-info mt-3">عزيزي لا يوجد أي طلبات مقيَّمة إلى الآن!</div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-action="Index">الرجوع للمتقدمين</a>
            </div>
        }

    </div>
</div>

@*@section Scripts{
        <script>
                // To Show Error Message And Hide
            if (@x == 1) {
                $(".ShowThenHide").hide().delay(8000).fadeIn().delay(4000).fadeOut(3000);
                 }
        </script>
    }*@