@model HiringOrderPaginationIndex

@{
    ViewData["Title"] = "عرض الطلبات";
    int numPage = Model.SentPageNum;
    int x = 0;
}
@if (TempData["ResultEvaluOrdSuccess"] != null)
{
    <div class="ShowThenHide alert alert-success col-md-12 mt-2" id="">@TempData["ResultEvaluOrdSuccess"]</div>
    x = 1;
}
@if (TempData["ResultEvaluOrdDanger"] != null)
{
    <div class="ShowThenHide alert alert-success col-md-12 mt-2" id="">@TempData["ResultEvaluOrdDanger"]</div>
    x = 1;
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title" data-aos="fade-left">
            <h2 class="card-label">
                <span class="d-block pt-5 font-size-h2-lg">ادارة طلبات التوظيف</span>
            </h2>
        </div>

        <div class="card-toolbar" data-aos="fade-left">
            <!--begin::Button-->
            <a href="~/HiringOrder/Add" title="اضافة طلب جديد" class="btn btn-primary font-weight-bolder">
                <span class="svg-icon svg-icon-md">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <circle fill="#000000" cx="9" cy="15" r="6" />
                            <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>اضافة طلب
            </a>
        </div>
    </div>
    <hr />
    <div class="card-body">
        @if (Model.AllHiringOrders.Any())
        {
            <form class="SentFormData form-group mt-3" asp-action="Index" method="get">
                <input class="inputhiddent" name="Id" type="hidden" />

                <div class="row">
                    <div class="input-group col-md-4 SearchBoxResMarginB" data-aos="fade-left">
                        <div class="form-outline">
                            <input type="search" name="SearchWord" value="@ViewBag.SearchWord" class="SearchBoxOrder form-control"
                                   placeholder="إبحث بإسم الوظيفة أو الشركة..." />
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>

                    <div class="input-group col-md-4 SearchBoxResMarginB" data-aos="fade-left">
                        <button type="submit" class="btn btn-primary">
                            إعرض
                        </button>
                        <select name="SelectSize" class="form-select form-control text-center">

                            @if (ViewBag.SelectSize != null && ViewBag.SelectSize == 0)
                            {
                                <option value="" selected>*** إختر عدد الصفوف المعروضة ***</option>
                            }
                            else
                            {
                                <option value="" selected>إختر عدد الصفوف المعروضة في الجدول</option>
                            }
                            @if (ViewBag.SelectSize != null && ViewBag.SelectSize == 5)
                            {
                                <option value="5" selected>5</option>
                            }
                            else
                            {
                                <option value="5">5</option>
                            }
                            @if (ViewBag.SelectSize != null && ViewBag.SelectSize == 10)
                            {
                                <option value="10" selected>10</option>
                            }
                            else
                            {
                                <option value="10">10</option>
                            }
                            @if (ViewBag.SelectSize != null && ViewBag.SelectSize == 15)
                            {
                                <option value="5" selected>15</option>
                            }
                            else
                            {
                                <option value="15">15</option>
                            }
                        </select>
                    </div>

                    <div class="input-group col-md-4" data-aos="fade-left">
                        <button type="submit" class="btn btn-primary">
                            إعرض
                        </button>
                        <select name="StatusOrder" class="form-select form-control text-center">
                            <option value="" selected>**** إبحث بحالة الطلب ****</option>

                            @if (ViewBag.StatusOrder != 0 && ViewBag.StatusOrder == StatusHiringOrderEnum.Pending)
                            {
                                <option value="@StatusHiringOrderEnum.Pending" selected>الطلبات المعلَّقة</option>
                            }
                            else
                            {
                                <option value="@StatusHiringOrderEnum.Pending">الطلبات المعلَّقة</option>
                            }
                            @if (ViewBag.StatusOrder != 0 && ViewBag.StatusOrder == StatusHiringOrderEnum.Approved)
                            {
                                <option value="@StatusHiringOrderEnum.Approved" selected>الطلبات المقبولة</option>
                            }
                            else
                            {
                                <option value="@StatusHiringOrderEnum.Approved">الطلبات المقبولة</option>
                            }
                            @if (ViewBag.StatusOrder != 0 && ViewBag.StatusOrder == StatusHiringOrderEnum.Rejected)
                            {
                                <option value="@StatusHiringOrderEnum.Rejected" selected>الطلبات المرفوضة</option>
                            }
                            else
                            {
                                <option value="@StatusHiringOrderEnum.Rejected">الطلبات المرفوضة</option>
                            }
                        </select>
                    </div>

                </div>
            </form>

            <div class="table-responsive SearchBoxResMarginB">
                <table class="MyTables table table-bordered table-striped text-center mt-3">
                    <thead>
                        <tr class="bg-primary text-white">
                            <td>إسم الطلب</td>
                            <td>وقت الإنتهاء</td>
                            <td>حالة الطلب</td>
                            <td>إسم الشركة</td>
                            <td>عدد المتقدمين</td>
                            <td>العمليات</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in Model.AllHiringOrders)
                        {
                            <tr data-aos="fade-down">
                                <td>@role.Title</td>
                                <td>@role.Deadline.ToString("yyyy-MM-dd")</td>
                                <td>@role.OrderStatus</td>
                                <td>@role.OrgnizationName</td>
                                <td>@role.NumApplicants</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="MenuProcess" data-bs-toggle="dropdown" aria-expanded="false">
                                            عرض العمليات
                                        </button>
                                        <ul class="dropdown-menu DropdownMenuTable" aria-labelledby="MenuProcess">
                                            <li>
                                                <a asp-action="Edit" asp-route-Id="@role.Id">تعديل</a>
                                            </li>
                                            <li>
                                                <a asp-action="Details" asp-route-Id="@role.Id">تفاصيل</a>
                                            </li>
                                            <li>
                                                <a asp-action="GetUsersApplyingOrder" asp-route-Id="@role.Id">المتقدمين</a>
                                            </li>

                                            @if (ViewBag.TypeUsre == "Admin")
                                            {
                                                @if (role.OrderStatus == StatusHiringOrderEnum.Pending)
                                                {
                                                    <li><a href="~/HiringOrder/EvaluationOrder/@role.Id?status=@StatusHiringOrderEnum.Approved">قبول</a></li>
                                                    <li><a href="~/HiringOrder/EvaluationOrder/@role.Id?status=@StatusHiringOrderEnum.Rejected">رفض</a></li>
                                                }
                                                else if (role.OrderStatus == StatusHiringOrderEnum.Approved)
                                                {
                                                    <li><a href="~/HiringOrder/EvaluationOrder/@role.Id?status=@StatusHiringOrderEnum.Rejected">رفض</a></li>
                                                }
                                                else if (role.OrderStatus == StatusHiringOrderEnum.Rejected)
                                                {
                                                    <li><a href="~/HiringOrder/EvaluationOrder/@role.Id?status=@StatusHiringOrderEnum.Approved">قبول</a></li>
                                                }
                                            }

                                        <li>@*~/HiringOrder/Delete/@role.Id*@
                                            <a style="cursor:pointer" onclick="showDetails(this)"
                                               data-ActionName="Delete"
                                               data-ControllerName="HiringOrder"
                                               data-IdValue="@role.Id">حذف</a>
                                        </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <ul class="pagination" data-aos="fade-left">

                @if (numPage == 1)
                {
                    <li class="page-item"><button class="btn btn-info" value="0" disabled>السابق</button></li>
                }
                else
                {
                    numPage--;
                    <li class="page-item"><button class="btn btn-info" value="@numPage">السابق</button></li>
                    numPage++;
                }

                @for (int i = 1; i <= Model.NumberPage; i++)
                {
                    if (Model.SentPageNum == i)
                    {
                        <li class="page-item">
                            <button class="btn btn-secondary active" value="@i">@i</button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <button class="btn btn-secondary" value="@i">@i</button>
                        </li>
                    }

                }
                @if (numPage == Model.NumberPage)
                {
                    <li class="page-item"><button class="btn btn-info" value="0" disabled>التالي</button></li>
                }
                else
                {
                    numPage = numPage + 1;
                    <li class="page-item"><button class="btn btn-info" value="@numPage">التالي</button></li>
                }
            </ul>
        }
        else
        {
            <div class="alert alert-warning mt-3"> عزيزي المشرف لا يوجد أي طلبات !</div>
            <div class="card-footer">
                <a class="btn btn-success" asp-action="Index">الرجوع للطلبات</a>
            </div>
        }

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
        // To Show Error Message And Hide
        if (@x == 1) {
            $(".ShowThenHide").hide().delay(8000).fadeIn().delay(4000).fadeOut(3000);
             }
       // To Get Value (Number) Pagination Button And Set To Input In Form And Sent Form With All Data
        $(".pagination li button").click(function () {
            var valuebtn = $(this).val();
            $(".inputhiddent").val(valuebtn);
            $(".SentFormData").submit();
        });
</script>